.blog-page {
  padding: 60px 20px;
  background-color: #f9f9f9;
  color: #333;
}

.blog-title {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #2E8B57;
  text-align: left;
}

.blog-intro {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: left;
  font-weight: bold;
}

.blog-page h2 {
  color: #2E8B57;
  margin-top: 30px;
}

.blog-page p {
  margin-bottom: 18px;
  line-height: 1.7;
}

.blog-list {
  padding-left: 20px;
  margin-bottom: 20px;
}

.blog-list li {
  margin-bottom: 8px;
  list-style-type: disc;
}

@media (max-width: 768px) {
  .blog-title{
    font-size: 1.6em;
  }

  .blog-intro{
    font-size: 1.1rem;
  }
  
  .blog-otherTitles{
    font-size: 1.5rem;
  }
}
